
#tm-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pop-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all 0.3s ease;
  }
  body,html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
*{
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.col-md-6{
    padding: 60px;
    height: 600px;
    color: white;
}
.cct{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: rgb(196, 196, 196);
    text-decoration: none;
  }
  .boxes{
    display: flex;
  }
  .box{
    height: 150px;
    width: 150px;
    border: 1px solid white;
    margin: 10px;
  }
  .box:hover{
    background-color: rgb(54, 54, 68);
  }
  .bg-drk{
    background-color: rgba(62, 64, 82, 0.459);
    border: 0.2px solid white;
    box-shadow: 0 0 15px black;
  }
  .col-sm-6{
    padding: 60px;
    height: 300px;
    color: white;

  }
.col-sm-6 img{
  height: 250px;
  width: 80%;
  border: 2px solid white;
  border-radius: 10px;
}

  @media (max-width: 765px) {
    .col-md-6{
        height: 350px;
    }
    .details{
      margin-bottom: 30px;
    }
    .col-sm-6{
      height: 250px;
      padding: 30px;
      padding-bottom: 0px;
      padding-top: 0px;
      
    }
    .bg-drk{
      background-color: rgba(62, 64, 82, 0.842);
      margin: 15px;
    }
    .col-sm-6 img{
      width: 100%;
      height: 150px;
    }
  }