       /* style.css file*/
       #tm-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/pop-bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        transition: all 0.3s ease;
      }
       body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100vh;
        box-sizing: border-box;
        text-align: center;
        background: rgb(255, 255, 255);
    }
    .container {
        width: 100%;
        max-width: 500px;
        margin: 5px;
    }
    
    .container h1 {
        color: #ffffff;
    }
    
    .section {
        background-color: rgba(58, 60, 73, 0.87);
        padding: 50px 30px;
        border: 1.5px solid #b2b2b2;
        border-radius: 0.25em;
        box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    }
    
    #my-qr-reader {
        padding: 20px !important;
        border: 1.5px solid #b2b2b2 !important;
        border-radius: 8px;
    }
    
    #my-qr-reader img[alt="Info icon"] {
        display: none;
    }
    
    #my-qr-reader img[alt="Camera based scan"] {
        width: 100px !important;
        height: 100px !important;
        color: white;
    }
    #my-qr-reader img{
        color: white;
        background-color: white;
        padding: 10px;
        border-radius: 30px;
        border: 1px solid black;
    }
    button {
        padding: 10px 20px;
        border: 1px solid #b2b2b2;
        outline: none;
        border-radius: 0.25em;
        color: black;
        font-size: 15px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 10px;
        background-color: white;
        transition: 0.3s background-color;
    }
    
    button:hover {
        color: white;
        background-color: rgb(62, 64, 82);
    }
    
    #html5-qrcode-anchor-scan-type-change {
        text-decoration: none !important;
        color: #ffffff;
    }
    
    video {
        width: 100% !important;
        border: 1px solid #b2b2b2 !important;
        border-radius: 0.25em;
    }
    
    #ttable{
        border-radius: 5px;
        color: white;
        width: 100%;
    }
    #ttable th{
        padding: 5px;
        margin: 5px;
        width: 30%;
    }
    #cbwork{
        display: none;
    }